<%- include('../common/header') %>
<div class="container wide">
  <% for (const post of posts) { %>
    <article class="card">
      <p class="title"><%= post.title %></p>
      <p class="content"><%= post.content %></p>
      <p class="user-name">投稿者: <span><%= post.user.name %></span></p>
      <p>
        <% if( post.isFavorited ) { %>
          <i class="fas fa-heart favorited" data-post-id="<%= post.id %>"></i><span> x<%= post.favorites.length %></span>
        <% } else { %>
          <i class="far fa-heart unfavorited" data-post-id="<%= post.id %>"></i><span> x<%= post.favorites.length %></span>
        <% } %>
        
      </p>
      <div class="card-buttons">
        <% if( loginUserId === post.user.id ){ %> 
          <button class="edit" id="edit" data-post-id="<%= post.id %>">編集</button>
          <button class="delete" id="delete" data-post-id="<%= post.id %>">削除</button>
        <% } %>
      </div>
    </article>
  <% } %>
</div>
<%- include('../common/footer') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(() => {
  
    // 編集ボタン押下
    $('.edit').click(function(){
      let postID = $(this).data().postId;
      window.location.href = `/post/${postID}`;
    })

    // 削除ボタン押下
    $('.delete').click(function(e){
      e.preventDefault();

      let postID = $(this).data().postId;

      // DELETEメソッドで削除処理実行
      fetch( `/post/${postID}`, {
        method: 'DELETE',
      })
      .then(res => {
        res.json().then(data => {
          window.location.href = `/post`;
        });
      })
      .catch((error) => {
        console.error(error);
      });
      
    })

    // いいねをする処理
    $('.unfavorited').click(function(){
      let postID = $(this).data().postId;
      fetch( `/favorite/${postID}`, {
        method: 'POST',
      })
      .then(res => {
        res.json().then(data => {
          console.log(data.result);
          window.location.href = `/post`;
        });
      })
      .catch((error) => {
        console.error(error);
      });
    });

    // いいね解除処理
    
  });
</script>